<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="Web Developer, Programmer, HTML, CSS, Javascript, Developer, Freelance">
        <meta name="author" content="Ziaul Sarker">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/animate.css">
        <link rel="stylesheet" href="/assets/css/main.min.css">
    </head>
    <body>
        <!--navigation-->
        <header class="SiteHeader">
            <nav class="SiteNav">
                <ul class="nav-list">
                    <li class="list-item"> <a href="#page-1" class="list-item_anchor" onclick="showPage(this); getPage();"> home </a> </li>
                    <li class="list-item"> <a href="#page-2" class="list-item_anchor" onclick="showPage(this); getPage();"> about</a> </li>
                    <li class="list-item"> <a href="#page-3" class="list-item_anchor" onclick="showPage(this); getPage();"> work </a> </li>
                    <li class="list-item"> <a href="#page-4" class="list-item_anchor" onclick="showPage(this); getPage();"> contact </a> </li>
                </ul>
                <div class="nav-social">
                    <div class="nav-social_wrapper">
                        <a href="mailto:ziaulsarker@gmail.com" class="nav-social_anchor"> <span class="social-icon fa fa-envelope"> </span> </a>
                        <a href="tel:6462837989" class="nav-social_anchor"> <span class="social-icon fa fa-phone"> </span> </a>
                        <a href="https://www.linkedin.com/in/ziaul-sarker-58b11374/" target="_blank" class="nav-social_anchor"> <span class="social-icon fa fa-linkedin"> </span> </a>
                    </div>
                </div>
            </nav>
        </header>

        <!--navigation hamburger icon-->
        <div class="nav-hamburger animated fadeInDown">
            <span class="nav-bar bar-1"></span>
            <span class="nav-bar bar-2"></span>
            <span class="nav-bar bar-3"></span>
        </div>


        <!--pages -->
        <section class="pages-container">

            <!--home page-->

            <div id="page-1" class="page page-1 home">
                <div class="home-container">
                    <div class="home-wrapper">
                        <div class="home-content">
                            <div class="home-contnet_wrapper">

                                <ul class="fly-in_text text-top text-hidden">
                                    <li> Z </li>
                                    <li> i </li>
                                    <li> a </li>
                                    <li> u </li>
                                    <li> l </li>

                                    <li> S </li>
                                    <li> a </li>
                                    <li> r </li>
                                    <li> k </li>
                                    <li> e </li>
                                    <li> r </li>
                                </ul>
                                
                                <ul class="fly-in_text text-bottom text-hidden">
                                    <li> D </li>
                                    <li> e </li>
                                    <li> v </li>
                                    <li> l </li>
                                    <li> o </li>
                                    <li> p </li>
                                    <li> e </li>
                                    <li> r </li>
                                </ul>

                                <a href="#page-3" onclick="showPort(this)" class="home-work_button animated fadeIn">View My Work </a>
                            </div>
                        </div>
                        <canvas id="canvas" class="canvas"></canvas>
                        <div class="home-footer ">
                            <div class="home-footer_wrapper animated fadeInUP">
                                <a href="mailto:ziaulsarker@gmail.com" class="nav-social_anchor"> <span class="social-icon home-icon fa fa-envelope"> </span> </a>
                                <a href="tel:6462837989" class="nav-social_anchor"> <span class="social-icon home-icon fa fa-phone"> </span> </a>
                                <a href="https://www.linkedin.com/in/ziaul-sarker-58b11374/" target="_blank" class="nav-social_anchor"> <span class="social-icon home-icon fa fa-linkedin"> </span> </a>
                            </div>    
                        </div>          
                    </div>
                </div>    
            </div> 




<!-- I convert sugar and sodium into software.-->
            <div id="page-2" class="page page-2 about">
                <div class="about-wrapper">
                    <section class="img-section">
                        <div class="img-container"></div>
                        <div class="about-text_container">
                            <h1 class="my-des_title">
                               Front-End Web Developer with a passion for javascript.
                            </h1>
                            <p class="my-des_text">I enjoy creating software that leave a positive impact not only on the user but the world!</p>
                            <p class="my-des_text">I genuinely enjoy programing and looking to surround my self with like-minded people.</p>
                        </div>
                        <div class="scroll-down">
                            <span class="scroll-down_icon"></span>
                        </div>
                    </section>

                    <section class="about-what">
                        <div class="about-what_wrapper">  
                            
                            <div class="what">
                                <div class="what-wrapper">
                                    <span class="what-icon fa fa-mobile"></span>
                                    <h3 class="what-title">Responsive Design</h3>
                                    <p class="what-text">Mobile, Tablet or Desktop. I implement responsive design in my projects for any screen size</p>
                                </div>
                            </div>

                            <div class="what">
                                <div class="what-wrapper">
                                    <span class="what-icon fa fa-cogs"></span>
                                    <h3 class="what-title">Performance</h3>
                                    <p class="what-text">I Practice the newest web technologies and W3C Standard for fast and optimized performance</p>
                                </div>
                            </div>

                            <div class="what">
                                <div class="what-wrapper">
                                    <span class="what-icon fa fa-code"></span>
                                    <h3 class="what-title">Always Leaning & Coding</h3>
                                    <p class="what-text">I belive the life of a dev never stops that's why I'm always learning and coding.</p>      
                                    <span class="learning">#juniordevforlife</span>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section class="skills ">
                        <div class="skills-wrapper">
                            <h2 class="skills-title">Skills</h2>
                            <div class="skill-set">

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> HTML </span>
                                        <span class="languages-skill skills-level"> 90% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> CSS </span>
                                         <span class="languages-skill skills-level"> 90% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> JavaScript </span>
                                        <span class="languages-skill skills-level"> 80% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> PHP </span>
                                        <span class="languages-skill skills-level"> 60% </span>
                                    </div>
                                </div>

                                  <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Wordpress </span>
                                        <span class="languages-skill skills-level"> 80% </span>
                                    </div>
                                </div>


                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Node </span>
                                        <span class="languages-skill skills-level"> 75% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Angular </span>
                                        <span class="languages-skill skills-level"> 70% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> React </span>
                                        <span class="languages-skill skills-level"> 70% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> LESS </span>
                                        <span class="languages-skill skills-level"> 80% </span>
                                    </div>
                                </div>


                                 <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Gulp </span>
                                        <span class="languages-skill skills-level"> 70% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Git </span>
                                        <span class="languages-skill skills-level"> 80% </span>
                                    </div>
                                </div>

                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> Underscore </span>
                                        <span class="languages-skill skills-level"> 70% </span>
                                    </div>
                                </div>
                                
                                <div class="web-languages">
                                    <div class="web-languages_wrapper">
                                        <span class="languages-skill"> MongoDB </span>
                                        <span class="languages-skill skills-level"> 70% </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <section class="resume">
                        <div class="resume-wrapper">
                            <h3 class="resume-title"> Get To Know Me Professionally </h3>
                            <p class="resume-text">Take a peak at my resume to view my work experience</p>
                            <a href="/resume" class="resume-link" target="_blank">View Resume </a>
                        </div>
                    </section>


                </div>
            </div> 



            <div id="page-3" class="page page-3 work">
                <div class="work-wrapper">
                    <div class="work-header">
                        <div class="work-header_wrapper">
                            <video src="/assets/video/port_video.mp4" class="portfolio-video" loop muted autoplay ></video>
                            <div class="work-header_gradiant"></div>
                            <h1 class="work-header_title"> Portfolio </h1>
                            <div class="scroll-down">
                                <span class="scroll-down_icon"></span>
                            </div>
                        </div>
                    </div>
                    

                    <section class="portfolio-section">
                        <div class="portfolio-section_wrapper">

                            <div class="projects-worked">
                                <h3 class="projects-des projects-des_work"> For Employer </h3>
                                <div class="projects-worked_wrapper">
                                    
                                    
                                    <div class="portfolio-block">
                                        <a href="http://www.bereadyli.org/" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front beready-front">
                                                    <img src="/assets/img/ready.png" alt="" class="beready-img project-img">
                                                    <p class="project-name_mobile">Be Ready LI</p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back beready-back"><h3 class="project-name"> <span> Be Ready LI </span> </h3></div>
                                            </div>
                                        </a>
                                    </div>
                       

                                    
                                    <div class="portfolio-block">
                                        <a href="https://www.sentineldatacenters.com/" target="_blank" class="portfolio-anchor"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front sentinel-front">
                                                    <img src="/assets/img/sentinel.png" alt="" class="sentinel-img project-img">
                                                    <p class="project-name_mobile"> Sentinel Data Centers</p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back sentinel-back"><h3 class="project-name"> <span> Sentinel Data Centers</span> </div>
                                            </div>
                                        </a>
                                    </div>
                                    

                                    
                                    <div class="portfolio-block">
                                        <a href="https://www.buechelstone.com/" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front buechel-front">
                                                    <img src="/assets/img/buechel.png" alt="" class="buechel-img project-img">
                                                     <p class="project-name_mobile"> Buechel Stone </p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back buechel-back"><h3 class="project-name"> <span> Buechel Stone </span> </div>
                                            </div>
                                        </a>
                                    </div>
                                    


                                    
                                    <div class="portfolio-block">
                                        <a href="http://fv-mag.com/" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front fv-front">
                                                    <img src="/assets/img/fv.png" alt="" class="fv-img project-img">
                                                     <p class="project-name_mobile"> FV-Magazine</p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back fv-back"><h3 class="project-name"> <span> FV-Magazine </span> </div>
                                            </div>
                                        </a>
                                    </div>
                                    
                                                                        
                                    <div class="portfolio-block">
                                        <a href="" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front gilbert-front">
                                                    <img src="/assets/img/gilbert.png" alt="" class="gilbert-img project-img">
                                                     <p class="project-name_mobile">Gilbet Displays</p>
                                                     <p class="project-name_mobile mobile-soon"> launching soon</p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back gilbert-back">
                                                    <h3 class="project-name"> <span> Gilbet Displays </span> </h3>
                                                    <p class="project-coming_des"> Launching Soon</p>    
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    
                                    <div class="portfolio-block">
                                        <a href="http://navatargroup.com/" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front navatar-front">
                                                    <img src="/assets/img/navatar.png" alt="" class="navatar-img project-img">
                                                     <p class="project-name_mobile">  Navatar Group </p>
                                                      <p class="project-name_mobile mobile-soon"> Launching Soon </p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back navatar-back">
                                                    <h3 class="project-name"> <span> Navatar Group </span> </h3>
                                                    <p class="project-coming_des"> Launching Soon</p>     
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                
                                    
                                </div>
                            </div>


                            <div class="projects-worked">
                                <h3 class="projects-des projects-des_personal"> Personal </h3>
                                <div class="projects-worked_wrapper">
                                   

                                    <div class="portfolio-block">
                                        <a href="https://github.com/ziaulsarker/portfolio_V2" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front personal-front">
                                                    <img src="/assets/img/port.png" alt="" class="port-img project-img">
                                                     <p class="project-name_mobile"> Personal Portfolio </p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back personal-back"><h3 class="project-name"> <span> Personal Portfolio </span> </div>
                                            </div>
                                        </a>
                                    </div>
                           

                                    <div class="portfolio-block">
                                        <a href="#" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front door-front">
                                                    <img src="/assets/img/PI.jpg" alt="" class="PI-img project-img">
                                                     <p class="project-name_mobile"> Door Detector</p>
                                                     <p class="project-name_mobile mobile-soon"> Coming Soon </p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back door-back">
                                                    <p class="project-coming_des"> Coming Soon </p>
                                                    <h3 class="project-name"> <span> Door Detector </span> </h3>
                                                </div>
                                            </div>
                                         </a>
                                     </div>


                                    <div class="portfolio-block">
                                        <a href="https://github.com/ziaulsarker/canvas-paddle-game" class="portfolio-anchor" target="_blank"> 
                                            <div class="portfolio-block_wrapper">
                                                <div class="portfolio-block_face portfolio-block_front paddle-front">
                                                    <img src="/assets/img/paddle.png" alt="" class="paddle-img project-img">
                                                     <p class="project-name_mobile"> Canvas Paddle Game </p>
                                                </div>
                                                <div class="portfolio-block_face  portfolio-block_back paddle-back"><h3 class="project-name"> <span> Canvas Paddle Game </span> </div>
                                            </div>
                                       </a>
                                    </div>
              
                                    

                                </div>
                            </div>

                        </div>
                    </section>

                    <section class="contact-cta">
                        <div class="contact-cta_wrapper">
                            <h3 class="contact-cta_title"> Need help with your next project </h3>
                            <p class="contact-cta_text"> Contact me to see how i can help </p>
                            <a href="#page-4" onclick="showPort(this)" class="contact-cta_link">Get In Touch </a>
                        </div>
                    </section>

                </div>
            </div> 


            <div id="page-4" class="page page-4 contact">
                <div class="contact-wrapper">
                    <section class="contact-info">
                        <div class="contact-info_wrapper">
                            <h1 class="contact-title">Lets Chat!</h1>
                            <p class="contact-text">Call or Email me to disscuss your next project or just say hello</p>
                            <div class="contact-icons_container">
                                <a href="tel:6462837989" class="contact-icon_anchor"> 
                                    <div class="contact-icon_container">
                                        <span class="fa fa-phone contact-icons contact-phone"></span> 
                                    </div>
                                </a>
                                <a href="mailto:ziaulsarker@gmail.com" class="contact-icon_anchor"> 
                                    <div class="contact-icon_container">
                                       <span class="fa fa-envelope-o contact-icons contact-email"></span> 
                                    </div>
                                </a>
                            </div>

                        </div>
                    </section>
                </div>
            </div> 
        </section>
    


       <script src="/assets/js/jquery-min.js"></script>
        <script src="/assets/js/main.min.js" type="text/javascript"></script>
    </body>
</html>