@font-face {
    font-family: inconsolata;
    src: url("../fonts/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
    font-family: logo-text;
    src: url("../fonts/PollerOne.ttf");
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

.my-logo{
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1001;
    right: 58px;
    top: 58px;
    background: #fff;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: all 0.3s linear; 
}

.hide-logo{
    transform: translateX(250px);
}

.my-logo_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    font-family: logo-text;
    color: #000;
 
}   

.main-logo_text{
  font-size: 2em;
  vertical-align: middle;  
}


.nav-hamburger{
    width: 35px;
    height: 35px;
    padding: 18px;
    background-color: transparent;
    display: inline-block;
    z-index: 1001;
    position: fixed;
    top: 45px;
    left: 45px;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    border-radius: 100%;

}

.beat-nav{
    animation: beat 1.5s ease-out 0s alternate infinite none running;
}

@keyframes beat {
    0%{
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}



.hamburger-slider{
    left: 85px;
}

.nav-hamburger:hover{
    background-color: #fff;
    box-shadow: 4px 1px rgba(0,0,0,0.6); 
    -moz-box-shadow: 4px 1px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 4px 1px rgba(0,0,0,0.6); 
    -o-box-shadow: 4px 1px rgba(0,0,0,0.6);
    animation: none;
}

.nav-bar{
    height: 5px;
    width: 35px;
    margin: 5px 0;
    background: #fff;
    display: block;
    border-radius: 5px;
    position: relative;
   -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nav-hamburger:hover .nav-bar{
    background-color: #000;   
}

.navbar-left{
    transform: rotate(45deg);
    top: 10px;
}

.navbar-right{
    transform: rotate(-45deg);
    top: -10px;
}

.SiteHeader{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 250px;
    transform: translateX(-250px);
    background-color: #000;
    float: left;
    transition: all 0.3s linear;

}

.SiteNav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-list{
    padding: 0;
    margin: 0;
}

.list-item{
    list-style-type: none;
    margin: 30px 0;
    text-align: center;
}


.list-item_anchor{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    transition: all 0.3s linear;
    font-family: roboto;
}

.list-item_anchor::after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    margin: 0 auto;
    background: #fff;
    transition: all 0.3s linear;
}

.list-item_anchor:hover::after {
   width: 50px; 
   max-width: 50px;
}

.nav-social{
    position: absolute;
    bottom: 50px;
}

.nav-social_anchor{
    text-decoration: none;
}

.social-icon{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.social-icon:hover{
    transform: scale(1.8);
    color: rgba(255, 255, 0, 0.9);
}

.pages-container{
    float: right;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s linear;
}



.page{
    position: absolute;
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 20px #fff;
    transform: translateX(100%);
    transition: all 0.3s linear;
    overflow: scroll;
}

.page-1{
    background-color: red;
    transform: translateX(0%);
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    overflow: hidden
}

.page-2{
 background-color: blue;
}

.page-3{
background-color: green;
}

.page-4{
    background-color: #f2f;
}


.show{
     transform: translateX(0%); 
     z-index: 100;  
}

.hide{
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.nav-visible{
    transform: translateX(0);
}

.nav-width{
    transform: translateX(250px);
}


/* home page */

.home-wrapper{
    position: relative;
}

.home-content{
    position: absolute;
    font-family: roboto;
    z-index: 1000;
    color: #fff;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.home-content_wrapper{

}

.home-text{
    margin: 0;
}

.fly-in_text{
    padding: 0;
    margin: 0;
}

.fly-in_text li {
    list-style-type: none;
    display: inline-block;
    margin: 0 -10px;
    opacity: 1;
    transition: all .7s linear; 
}

.text-hidden{
    opacity: 0;
}

.text-visible{
    opacity: 1;
}

.text-top li:nth-child(5){
    margin-right: 30px;
}


.home-footer{
    position: absolute;
    z-index: 1000;
    color: #fff;
    bottom: 30;
    left: 50%;
    transform: translateX(-50%);
}

.home-footer_wrapper{
    animation-delay: 0.8s;
}

.home-icon{
    margin: 0 15px;
}

.home-icon:hover{
    color: #fff;
    transform: scale(2);
}

.home-work_button{
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    background: #fff;
    animation-delay: 1s;
    box-shadow: inset 0 0 0 0 red;
    transition: all 0.3s linear;
}

.home-work_button:hover{
  box-shadow: inset 220px 0 0 0 red;
  color: #fff;  
}

canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #25003a;
  background-image: linear-gradient(rgba(37, 0, 58, 0.8) 100%, transparent),
                    url("/assets/img/home.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}




/*about page*/

.about{
    background-color: #fff;
    border: 20px solid #fff; 
}

.about-wrapper{
    height: 100%;
}

.img-section{
    height: 450px;
    padding: 100px 0; 
    background-color: #353f55;
    position: relative;
}

.img-container{
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 100%;
    margin: 0 auto;
    background-image: url("/assets/img/me.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #fff;
    transition: all 0.3s linear;
}

.img-container:hover{
    transform: scale(1.05);
}

.about-text_container{
    text-align: center;
    margin-top: 50px;
}

.my-des_title{
    color: #fff;
    font-family: roboto;
}

.my-des_text{
    color: #fff;
    font-family: roboto;   
}

.scroll-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    height: 50px;
    width: 30px;
    border-radius: 15px;
}

.scroll-down_icon{
    height: 5px;
    width: 5px;
    display: block;
    background: #000;
    margin: 0 auto;
}


.about-what{
    height: 250px;
    padding: 60px 0;
    background-color: #faf9f8;
}

.about-what_wrapper{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.what{
    float: left;
    width: 33%;

}

.what-wrapper{
    padding: 20px;
}

.what-icon{
    font-size: 30px;

}

.what-title{
    font-family: roboto; 
}

.what-text{
    font-family: roboto; 
    color: rgba(51,51,51,0.4);
    line-height: 1.8em;
}

.learning{
    font-size: 16px;
    font-family: roboto; 
}