@font-face {
    font-family: roboto;
    src: url("../fonts/RobotoMono-Regular.ttf");
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}


.nav-hamburger{
    width: 32px;
    height: 32px;
    padding: 5px;
    background-color: #fff;
    display: inline-block;
    z-index: 1001;
    position: fixed;
    top: 35px;
    left: 35px;
    cursor: pointer;
    transition: all 0.3s linear;
    -ms-transform: translateX(0%);
        transform: translateX(0%);

}

.slide-navigation{
    -ms-transform: translateX(0px);
        transform: translateX(0px)
}


.hamburger-slider{
    -ms-transform: translateX(0px);
        transform: translateX(0px)
}

.nav-hamburger:hover{
    background-color: #fff;
     box-shadow: 4px 1px rgba(0,0,0,0.6); 
    -moz-box-shadow: 4px 1px rgba(0,0,0,0.6);
     -webkit-box-shadow: 4px 1px rgba(0,0,0,0.6); 
    -o-box-shadow: 4px 1px rgba(0,0,0,0.6);
}

.nav-bar{
    height: 4px;
    width: 30px;
    margin: 5px auto;
    background-color: #000;  
    display: block;
    border-radius: 5px;
    position: relative;
   transition: all 0.5s linear;
}

.navbar-left{
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    top: 10px;
}

.navbar-right{
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    top: -10px;
}

.SiteHeader{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    background-color: #000;
    float: left;
    transition: all 0.3s linear;

}

.SiteNav{
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
}

.nav-list{
    padding: 0;
    margin: 0;
}

.list-item{
    list-style-type: none;
    margin: 30px 0;
    text-align: center;
}


.list-item_anchor{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.3s linear;
    font-family: roboto;
}

.list-item_anchor::after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    margin: 0 auto;
    background: #fff;
    transition: all 0.3s linear;
}

.list-item_anchor:hover::after {
   width: 30px; 
   max-width: 30px;
}

.nav-social{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.nav-social_anchor{
    text-decoration: none;
}

.social-icon{
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}

.social-icon:hover{
    -ms-transform: scale(1.8);
        transform: scale(1.8);
    color: rgba(255, 255, 0, 0.9);
}

.pages-container{
    float: right;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s linear;
}



.page{
    position: absolute;
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 20px #fff;
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    transition: all 0.3s linear;
    overflow: scroll;
}

.page-1{
    background-color: red;
    -ms-transform: translateX(0%);
        transform: translateX(0%);
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    overflow: hidden
}

.page-2{
 background-color: blue;
     -ms-transform: translateX(-100%);
         transform: translateX(-100%);
}

.page-3{
    -ms-transform: translateY(100%);
        transform: translateY(100%);
}

.page-4{
    -ms-transform: translateY(-100%);
        transform: translateY(-100%);
}


.show{
     -ms-transform: translateX(0%);
         transform: translateX(0%); 
     z-index: 100;  
}

.hide{
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.nav-visible{
    -ms-transform: translateX(0);
        transform: translateX(0);
}

.nav-width{
    -ms-transform: translateX(250px);
        transform: translateX(250px);
}


/* home page */

.home-wrapper{
    position: relative;
}

.home-content{
    position: absolute;
    font-family: roboto;
    z-index: 1000;
    color: #fff;
    font-size: 30px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    line-height: 1.5em;
}

.home-content_wrapper{

}

.home-text{
    margin: 0;
}

.fly-in_text{
    padding: 0;
    margin: 0;
}

.fly-in_text li {
    list-style-type: none;
    display: inline-block;
    margin: 0 -10px;
    opacity: 1;
    transition: all .7s linear; 
}

.text-hidden{
    opacity: 0;
}

.text-visible{
    opacity: 1;
}

.text-top li:nth-child(5){
    margin-right: 15px;
}


.home-footer{
    position: absolute;
    z-index: 1000;
    color: #fff;
    bottom: 30;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}

.home-footer_wrapper{
    animation-delay: 0.8s;
}

.home-icon{
    margin: 0 15px;
}

.home-icon:hover{
    color: #fff;
    -ms-transform: scale(2);
        transform: scale(2);
}

.home-work_button{
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 5px 18px;
    background: #fff;
    animation-delay: 1s;
    box-shadow: inset 0 0 0 0 red;
    transition: all 0.3s linear;
}

.home-work_button:hover{
  box-shadow: inset 220px 0 0 0 red;
  color: #fff;  
}

canvas {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #25003a;
  background-image: linear-gradient(rgba(37, 0, 58, 0.8) 100%, transparent),
                    url("/assets/img/home.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.nav-animation{
    animation: none;
}

.no-animation{
    animation: none;
}




/*about page*/

.about{
    background-color: #fff;
}

.about-wrapper{
    height: 100%;
}

.img-section{
    height: 330px;
   padding: 175px 0 25px;
    background: #4C3EAB ;
    background-image: linear-gradient(to bottom right, rgba(28, 183, 141, 0.6) 0%, rgba(28,113,184, 0.6) 50%, rgba(14, 57, 92, 0.6) 90%, rgba(9, 24, 63, 0.6) 100%);
    position: relative;
}

.img-container{
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 100%;
    margin: 0 auto;
    background-image: url("/assets/img/me.jpg");
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    transition: all 0.3s linear;
}

.img-container:hover{
    -ms-transform: scale(1.05);
        transform: scale(1.05);
}

.about-text_container{
    text-align: center;
    margin-top: 50px;
}

.my-des_title{
    color: #fff;
    font-family: roboto;
    font-size: 16px;
}

.my-des_text{
    color: #fff;
    font-family: roboto;   
    display: none; 
    font-size: 18px;
}

.scroll-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    background: #fff;
    height: 50px;
    width: 30px;
    border-radius: 15px;
    z-index: 3;
    display: none;
}

.scroll-down_icon{
    height: 5px;
    width: 5px;
    display: block;
    background: #000;
    margin: 0 auto;
}


.about-what{
    height: 730px;
    padding: 50px 0;
    background-color: #fff;
}

.about-what_wrapper{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.what{
    float: left;
    width: 100%;

}

.what-wrapper{
    padding: 20px;
}

.what-icon{
    font-size: 30px;

}

.what-title{
    font-family: roboto; 
    font-size: 16px;
}

.what-text{
    font-family: roboto; 
    color: rgba(51,51,51,0.4);
    line-height: 1.8em;
    font-size: 14px;
}

.learning{
    font-size: 16px;
    font-family: roboto; 
    color: rgba(255, 0, 0, 0.7);
}

.skills{
    padding: 50px 0 30px;
    background-color: rgba(211, 211, 211, 0.5);
}

.skills-wrapper{
    max-width: 80%;
    margin: 0 auto;
}

.skills-title{
    font-family: roboto;
    text-align: center;
    font-size: 24px;
    margin: 0 0 75px;
    color: #353f55;

}

.skills-title::after{
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 10px auto 0;
    background-color: #353f55;
}


.web-languages{
    float: left;
    width: 75px;
    height: 200px;
    margin: 0 15px 60px;
    border: 3px solid #353f55;
    cursor: pointer;
    box-shadow: inset 0 0 0 #353f55;
    transition: all 0.3s linear;
    color: #353f55;
}

.web-languages:hover{
    color: #fff;
    -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.web-languages:nth-child(1):hover{
    box-shadow: inset 0 -180px 0 #353f55;
}
.web-languages:nth-child(2):hover{
    box-shadow: inset 0 -180px 0 #353f55;
}
.web-languages:nth-child(3):hover{
    box-shadow: inset 0 -160px 0 #353f55;
}
.web-languages:nth-child(4):hover{
    box-shadow: inset 0 -120px 0 #353f55;
}
.web-languages:nth-child(5):hover{
    box-shadow: inset 0 -160px 0 #353f55;
}
.web-languages:nth-child(6):hover{
    box-shadow: inset 0 -150px 0 #353f55;
}
.web-languages:nth-child(7):hover{
    box-shadow: inset 0 -140px 0 #353f55;
}
.web-languages:nth-child(8):hover{
    box-shadow: inset 0 -140px 0 #353f55;
}
.web-languages:nth-child(9):hover{
    box-shadow: inset 0 -160px 0 #353f55;
}
.web-languages:nth-child(10):hover{
    box-shadow: inset 0 -140px 0 #353f55;
}
.web-languages:nth-child(11):hover{
    box-shadow: inset 0 -160px 0 #353f55;
}

.web-languages:nth-child(12):hover{
    box-shadow: inset 0 -140px 0 #353f55;
}

.web-languages:nth-child(13):hover{
    box-shadow: inset 0 -140px 0 #353f55;
}

.web-languages_wrapper{
    height: 100%;
    text-align: center;
}

.skill-set{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: roboto;
}

.languages-skill{
    position: relative;
    font-family: roboto;
    display: block;
    -ms-transform: rotate(90deg) translateX(100%);
        transform: rotate(90deg) translateX(100%);
    font-size: 18px;
    opacity: 1;
    visibility: visible;
}

.web-languages:hover .languages-skill{
    opacity: 0;
    visibility: hidden;
}

.skills-level{
    opacity: 0;
    color: #fff;
    visibility: hidden;
    -ms-transform: rotate(90deg) translateX(100%);
        transform: rotate(90deg) translateX(100%);
    transition: all 0.3s linear;
}

.web-languages:hover .skills-level{
    opacity: 1;
    visibility: visible;
}

.resume{
    /*background: #f5f5f5; */
}

.resume-wrapper{
    padding: 60px 0;
    text-align: center;
}

.resume-title{
    font-family: roboto;
    margin-bottom: 30px;
    font-size: 18px;
    color: #353f55;
}

.resume-text{
    font-family: roboto;
    margin-bottom: 30px;
    font-size: 15px;
    color: #353f55;
}

.resume-link{
    font-family: roboto;
    text-decoration: none;
    padding: 12px 25px;
    background: #fff;
    font-size: 16px;
    color: #353f55;
    display: inline-block;
    transition: all 0.3s linear; 
    border: 2px solid #000;
}

.resume-link:hover{
    background: #000;
    color: #fff;
}





/* work page portfolio */
.work{
    background-color: #fff;
}

.work-header{
    height: 400px;
}

.work-header_wrapper{
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    position: relative; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92);
}



.portfolio-video{
    position: absolute;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: initial;
    display: none;
}

.work-header_gradiant{

    background: rgba(0,0,0, 0.3);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.work-header_title{
    margin: 0;
    color: #fff;
    font-size: 25px;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    z-index: 3;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
}


.portfolio-section{
    height: auto;
}

.portfolio-section_wrapper{
    padding: 60px 0 60px;
}

.recent-projects::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 30px auto 0;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.projects-worked{
      margin: 0 0 60px;
}

.portfolio-section_wrapper .projects-worked:last-child{
     margin: 60px 0 0;   
}

.projects-worked_wrapper{
    height: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}



.projects-des{
    font-family: roboto;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.projects-des_work::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto 30px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.projects-des_personal{
    margin-bottom: 60px;
}

.projects-des_personal::after{
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.portfolio-anchor{
    display: inline-block;
    height: auto;
    width: auto;
    text-decoration: none;
    color: #fff;
    font-family: roboto;
    cursor: default;
}


.portfolio-block{
    width: 330px;
    height: 350px;
    position: relative;
    perspective: 800px;
    display: inline-block;
    margin: 15px 0 30px;
    
}

.portfolio-block_wrapper{
    width: 100%;
    height: 300px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

.portfolio-block_face{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}


.portfolio-block_front{
}

.project-name_mobile{
    position: absolute;
    bottom: -60px;
    color: #000;
    text-align: center;
    width: 100%;
}
.mobile-soon{
    bottom: -90px;
}

.portfolio-block_back{
    background: #000;
    transform: rotateX( -180deg );
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}




.portfolio-section_wrapper .projects-worked:nth-child(2) .portfolio-block_back .project-name,
.portfolio-section_wrapper .projects-worked:nth-child(2) .portfolio-block_back .project-coming_des{
    transform: rotateX( -180deg );
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
} 





.project-name span{
    font-family: roboto;
    font-size: 1.4em;
    
}

.project-img{
    position: absolute;
    max-width: 100%;
    height: 300px;
    box-shadow: 0 10px 6px -6px #777;
    
}

.project-coming_des{
    color: #fff;
}

.project-name{
    text-align: center;
}

.contact-cta{
    /*background: #f5f5f5; */
    background: #000;
}

.contact-cta_wrapper{
    padding: 60px 10px;
    text-align: center;
}

.contact-cta_title{
    font-family: roboto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.9em;
    color: #fff;
}

.contact-cta_text{
    font-family: roboto;
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
}

.contact-cta_link{
    font-family: roboto;
    text-decoration: none;
    padding: 15px 30px;
    background: #fff;
    font-size: 18px;
    color: #000;
    display: inline-block;
    transition: all 0.3s linear; 
    border: 2px solid #000;
}

.contact-cta_link:hover{
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}






/*  contact page */

.contact{
    background: #fff;


}

.contact-wrapper{
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.contact-info{

}

.contact-info_wrapper{
    padding: 0 15px;
}

.contact-title{
    font-family: roboto;
    text-align: center;
    margin: 100px 0 30px;
    font-size: 26px;
}

.contact-title::after{
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background: #f5f5f5;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin: 15px auto 0;
}

.contact-text{
    font-family: roboto;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 2em;
}

.contact-icons_container{
    margin-top: 60px;
    text-align: center;
}

.contact-icon_anchor{
    text-decoration: none;
    height: 200px;
    width: 200px;
    background: #000;
    display: inline-block;
    margin: 0 15px 30px;
}

.contact-icon_container{
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.contact-icons{
   font-size: 50px;
    color: #fff;
    transition: font-size 0.3s linear;

}

.contact-icon_anchor:hover{
   box-shadow: 0 10px 15px 0 rgba(30,45,62,0.4), 0 0 50px 0 rgba(31,44,60,0.5);
}



/* media quaries tablet */


@media(min-width: 768px){
    .home-content{
        font-size: 40px;
    }
    
    .home-work_button{
        padding: 5px 30px;
        font-size: 20px;
    }

    .list-item_anchor{
        font-size: 30px;
    }

    .nav-hamburger{
        top: 50px;
        left: 50px;
    }


    /*about page*/
    .img-section{
        height: 400px;
        padding: 100px;
    }

    .img-container{
        height: 200px;
        width: 200px;
    }

    .my-des_text{
        display: block;
    }

    .my-des_title{
        font-size: 18px;
    }
    .about-what{
        height: 350px;
    }

    .about-what_wrapper{
        max-width: 100%;
    }

    .what{
        width: 33%;
    }

    .what-text{
        font-size: 17px;
    }

    .what-text{
        font-size: 15px;
    }

    .skills{
        padding: 50px 0 30px;
    }

    .skills-title{
        font-size: 28px;
    }

    .resume-title{
        font-size: 20px;

    }

    .resume-text{
        font-size: 16px;
    }

    .resume-link{
        font-size: 18px;
    }



    /*portfolio page*/

    .work-header{
        height: 450px;
    }

    .work-header_title{
        font-size: 36px;
    }

    .portfolio-video{
       display: block;
    }

    .portfolio-block{
        width: 320px;
        height: 370px;
        margin: 15px 15px 30px;
    }

    .portfolio-block_wrapper{
        width: 300px;
        height: 300px;
    }
    


    /*contact page*/

    .contact-wrapper{
        max-width: 80%;
        height: 100%;
        width: 100%;
    }

    .contact-title{
        margin: 0px 0 30px;
        font-size: 28px;
    }
    .contact-text{
        font-size: 18px;
    }

    .contact-icon_anchor{
        height: 230px;
        width: 230px;
    }

}


/* media quaries desktop */


@media(min-width: 992px){



    .nav-hamburger{
        width: 35px;
        height: 35px;
        padding: 10px;
        top: 60px;
        left: 60px;

    }

    .slide-navigation{
        -ms-transform: translateX(45px);
            transform: translateX(45px)
    }


    .hamburger-slider{
        -ms-transform: translateX(45px);
            transform: translateX(45px)
    }

    .nav-hamburger:hover{
        background-color: #fff;
        box-shadow: 4px 1px rgba(0,0,0,0.6); 
        -moz-box-shadow: 4px 1px rgba(0,0,0,0.6);
        -webkit-box-shadow: 4px 1px rgba(0,0,0,0.6); 
        -o-box-shadow: 4px 1px rgba(0,0,0,0.6);
    }

    .nav-bar{
        height: 5px;
        width: 35px;
        margin: 5px auto;
        background-color: #000;  
        display: block;
        border-radius: 5px;
        position: relative;
    transition: all 0.5s linear;
    }

    .navbar-left{
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        top: 10px;
    }

    .navbar-right{
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        top: -10px;
    }

    .SiteHeader{
        width: 100%;
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    }

    .SiteNav{
        width: 100%;
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        position: relative;
    }

    .nav-list{
        padding: 0;
        margin: 0;
    }

    .list-item{
        list-style-type: none;
        margin: 30px 0;
        text-align: center;
    }


    .list-item_anchor{
        font-size: 30px;

    }

    .list-item_anchor::after{
        content: "";
        display: block;
        height: 2px;
        width: 0px;
        margin: 0 auto;
        background: #fff;
        transition: all 0.3s linear;
    }

    .list-item_anchor:hover::after {
    width: 50px; 
    max-width: 50px;
    }

    .nav-social{
        position: absolute;
        bottom: 50px;
    }

    .nav-social_anchor{
        text-decoration: none;
    }

    .social-icon{
        color: #fff;
        font-size: 22px;
        margin: 0 10px;
        transition: all 0.3s ease-in-out;
    }

    .social-icon:hover{
        -ms-transform: scale(1.8);
            transform: scale(1.8);
        color: rgba(255, 255, 0, 0.9);
    }


    .nav-visible{
        -ms-transform: translateX(0);
            transform: translateX(0);
    }

    .nav-width{
        -ms-transform: translateX(250px);
            transform: translateX(250px);
    }


    /* home page */

    .home-wrapper{
        position: relative;
    }

    .home-content{
        line-height: 1em;
        font-size: 50px;
    }

    .home-content_wrapper{

    }

    .home-text{
        margin: 0;
    }

    .fly-in_text{
        padding: 0;
        margin: 0;
    }

    .fly-in_text li {
        list-style-type: none;
        display: inline-block;
        margin: 15px -10px;
        opacity: 1;
        transition: all .7s linear; 
    }

    .text-hidden{
        opacity: 0;
    }

    .text-visible{
        opacity: 1;
    }

    .text-top li:nth-child(5){
        margin-right: 30px;
    }

    .home-footer_wrapper{
        animation-delay: 0.8s;
    }

    .home-icon{
        margin: 0 15px;
    }

    .home-icon:hover{
        color: #fff;
        -ms-transform: scale(2);
            transform: scale(2);
    }

    .home-work_button{
        font-size: 20px;
        padding: 10px 30px;
    }

    .home-work_button:hover{
        box-shadow: inset 220px 0 0 0 red;
    }



    .nav-animation{
        animation: none;
    }

    .no-animation{
        animation: none;
    }




    /*about page*/

    .about{
        background-color: #fff;
    }

    .about-wrapper{
        height: 100%;
    }

    .img-section{
        padding: 100px 0; 
        height: 450px;
    }

    .img-container{
        height: 250px;
        width: 250px;
    }

    .img-container:hover{
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    }

    .about-text_container{
        text-align: center;
        margin-top: 50px;
    }


    .scroll-down{
        display: block;
    }



    .about-what_wrapper{
        max-width: 80%;
    }

    .what{
        float: left;
        width: 33%;

    }

    .what-wrapper{
        padding: 20px;
    }

    .what-icon{
        font-size: 30px;

    }

    .what-title{
        font-size: 20px;
    }

    .what-text{
        font-size: 18px;
    }

    .learning{
        font-size: 16px;
    }

    .skills{
        padding: 100px 0 30px;
    }

    .skills-wrapper{
        max-width: 80%;
        margin: 0 auto;
    }

    .skills-title{
        font-size: 30px;
    }

    .skills-title::after{
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        margin: 10px auto 0;
        background-color: #353f55;
    }


    .web-languages{
        width: 100px;
        height: 400px;
    }


    .web-languages:nth-child(1):hover{
        box-shadow: inset 0 -360px 0 #353f55;
    }
    .web-languages:nth-child(2):hover{
        box-shadow: inset 0 -360px 0 #353f55;
    }
    .web-languages:nth-child(3):hover{
        box-shadow: inset 0 -320px 0 #353f55;
    }
    .web-languages:nth-child(4):hover{
        box-shadow: inset 0 -240px 0 #353f55;
    }
    .web-languages:nth-child(5):hover{
        box-shadow: inset 0 -320px 0 #353f55;
    }
    .web-languages:nth-child(6):hover{
        box-shadow: inset 0 -300px 0 #353f55;
    }
    .web-languages:nth-child(7):hover{
        box-shadow: inset 0 -280px 0 #353f55;
    }
    .web-languages:nth-child(8):hover{
        box-shadow: inset 0 -280px 0 #353f55;
    }
    .web-languages:nth-child(9):hover{
        box-shadow: inset 0 -320px 0 #353f55;
    }
    .web-languages:nth-child(10):hover{
        box-shadow: inset 0 -280px 0 #353f55;
    }
    .web-languages:nth-child(11):hover{
        box-shadow: inset 0 -320px 0 #353f55;
    }

    .web-languages:nth-child(12):hover{
        box-shadow: inset 0 -280px 0 #353f55;
    }

    .web-languages:nth-child(13):hover{
        box-shadow: inset 0 -280px 0 #353f55;
    }

    .web-languages_wrapper{
        height: 100%;
        text-align: center;
    }



    .languages-skill{
        -ms-transform: rotate(90deg) translateX(150%);
            transform: rotate(90deg) translateX(150%);
        font-size: 30px;
    }


    .skills-level{
        -ms-transform: rotate(90deg) translateX(130%);
            transform: rotate(90deg) translateX(130%);
    }


    .resume{
        /*background: #f5f5f5; */
    }

    .resume-title{
        font-size: 20px;

    }

    .resume-text{
        font-size: 20px;
    }

    .resume-link{
        font-size: 20px;
    }
    .resume-link:hover{
        background: #000;
        color: #fff;
    }





    /* work page portfolio */

    .work-header{
        height: 650px;
    }

    .work-header_title{
        font-size: 72px;
    }


    .portfolio-section{
        height: auto;
    }

    .portfolio-section_wrapper{
        padding: 100px 30px 60px;
    }

    .recent-projects::after{
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background: #fff;
        margin: 30px auto 0;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }


    .projects-worked{
        margin: 0 0 60px;
    }

    .portfolio-section_wrapper .projects-worked:last-child{
        margin: 60px 0 0;   
    }

    .projects-worked_wrapper{
        height: auto;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }



    .projects-des{
        font-size: 32px;
    }

    .projects-des_work::after{
        margin-bottom: 60px;

    }

    .projects-des_personal{
        margin-bottom: 60px;
    }


    .portfolio-block{
        height: 450px;
        width: 400px;
        margin: 15px;
    }

    .portfolio-block_wrapper{
        width: 100%;
        height: 350px;
    }
    .project-name_mobile {
        display: none;
    }


    .portfolio-block_wrapper:hover{
        transform: rotateX( 180deg );
    }

    .portfolio-section_wrapper .projects-worked:nth-child(2) .portfolio-block_wrapper:hover{
        transform: rotateY( 180deg ) ;
    }


    .portfolio-section_wrapper .projects-worked:nth-child(2) .portfolio-block_back .project-name,
    .portfolio-section_wrapper .projects-worked:nth-child(2) .portfolio-block_back .project-coming_des{
        transform: rotateX( -180deg );
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
    } 


    .project-name span{
        font-family: roboto;
        font-size: 1.4em;
        
    }

    .project-img{
        height: 350px;
    }

    .contact-cta_wrapper{
        padding: 60px 0;
    }

    .contact-cta_title{
        font-size: 20px;
    }

    .contact-cta_text{
        margin-bottom: 30px;
        font-size: 16px;
    }

    .contact-cta_link{
        font-size: 20px;
    }


    /*  contact page */
    .contact-wrapper{
        max-width: 100%;
    }

    .contact-title{
        font-size: 36px;
    }

    .cotact-text{
        font-size: 20px;
    }

    .contact-icon_anchor{
        height: 350px;
        width: 350px;
    }
}